@page
@model VyberModel
@{
    GameManager gameManager = new GameManager(Model.gm);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship Game</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ADD8E6;
            padding-top: 20px;
            margin: 0;
        }

        h1 {
            margin-top: 0;
            color: #000000;
            text-align: center;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .board {
            border: 2px solid #000;
            background-color: #ADD8E6;
            width: 500px;
            height: 500px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: 1px;
        }

        .cell2 {
            border: 1px solid #999;
            background-color: #87CEFA;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
        }

        .cell1 {
            border: 1px solid #999;
            background-color: #87CEFA;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-weight: bold;
            cursor: default;
        }

        .cell2:hover {
            background-color: #58B6DE;
        }

        .cell2T {
            border: 0px solid #999;
            background-color: #87CEFA;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            block-size: 5rem;
            font-weight: bold;
            cursor: pointer;
        }

        .hit {
            background-color: #ff0000;
        }

        .miss {
            background-color: #0000ff;
        }

        .message {
            text-align: center;
            margin-top: 20px;
            color: #FFFFFF;
            font-size: 1.2rem;
            font-weight: bold;
            color: black;
        }

        .empty-cell {
            background-color: #24D0F2
        }

        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #45a049;
        }

        .cell2T:hover {
            background-color: #58B6DE;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .button-container .button {
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center; color: #000000;">Battleship Game</h1>
    <div class="container">
        <div style="text-align: center; margin-right: 20px">
            <h2 style="color: #000000;">Hráč @Model.Name1 vybírá pozice lodí (@gameManager.ShipNumber(1) / @GameManager.SHIPS)</h2>
            <div class="board" id="player-board">
                <div class="cell1 empty-cell"></div>
                @for (int row = 0; row < 5; row++)
                {
                    <div class="cell1 empty-cell" disabled>@((char)('A' + row))</div>
                }
                @for (int row = 0; row < 5; row++)
                {
                    <div class="cell1 empty-cell" disabled>@((char)('1' + row))</div>
                    @for (int col = 0; col < 5; col++)
                    {
                        <div class="cell2">
                            <form method="Post">
                                <input type="hidden" name="row" value="@row" />
                                <input type="hidden" name="col" value="@col" />
                                <button class="cell2T" asp-page-handler="Select" name="gameData" value="@gameManager.ToString()">@Model.GetCellSymbol(@gameManager.Player1.StringGrid[row, col])</button>
                            </form>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="button-container">
            <form method="Post">
                <button type="submit" class="button" asp-page-handler="Nahodne" name="gameData" value="@gameManager.ToString()">Náhodně</button>
            </form>
        </div>
    </div>
</body>
</html>
